
a.shadow-sm.text-white.rounded-circle(href='tutoriales' target='_blank' style='background-color:#0861ff; padding:10px; border:none; cursor:pointer; position:fixed; bottom:23px; right:28px;')
  i.fas.fa-question-circle(style='font-size:large; display:inline-block; border-radius:60px; padding: 0.5em 0.6em;')
