doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Página no encontrada - Alia
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-SJETCMY2EN')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SJETCMY2EN');
    link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
#wrapper
  #content-wrapper.d-flex.flex-column
    #content(style='margin-top: 32px;')
      .container-fluid
          .text-center.mt-5
              .error.mx-auto(data-text='404')
                  p.m-0(style='color: #0d45a1;') 404
              p.text-dark.mb-5.lead P&aacute;gina no encontrada
              p.text-black-50.mb-0 Algo sali&oacute; mal...
              a(href='/') &larr; Regresar al Dashboard
      footer.bg-white.sticky-footer
        .container.my-auto
          .text-center.my-auto.copyright
            span Copyright &copy; Alia 2021
    a.border.rounded.d-inline.scroll-to-top(href='#page-top')
        i.fas.fa-angle-up
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
