doctype html
html
  head
    title= title
    link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
