doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Register - NVIO
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
.container
    .card.shadow-lg.o-hidden.border-0.my-5
        .card-body.p-0
            .row
                .col-lg-5.d-none.d-lg-flex
                    .flex-grow-1.bg-register-image(style='background-image: url("https://nvio.s3.amazonaws.com/assets/img/dogs/image2.jpeg");')
                .col-lg-7
                    .p-5
                        .text-center(style='padding: 10px;')
                            img(src='https://nvio.s3.amazonaws.com/assets/img/logo_nvio_fondo.png' style='width: 100%;')
                        form.user
                            .form-group.row
                                .col-sm-6.mb-3.mb-sm-0
                                    input#exampleFirstName.form-control.form-control-user(type='text' placeholder='Nombre' name='first_name')
                                .col-sm-6
                                    input#exampleFirstName.form-control.form-control-user(type='text' placeholder='Apellido' name='last_name')
                            .form-group
                                input#exampleInputEmail.form-control.form-control-user(type='email' aria-describedby='emailHelp' placeholder='Correo Electrónico' name='email')
                            .form-group.row
                                .col-sm-6.mb-3.mb-sm-0
                                    input#examplePasswordInput.form-control.form-control-user(type='password' placeholder='Contraseña' name='password')
                                .col-sm-6
                                    input#exampleRepeatPasswordInput.form-control.form-control-user(type='password' placeholder='Confirmar Contraseña' name='password_repeat')
                            button.btn.btn-primary.btn-block.text-white.btn-user(type='submit' style='background: #058791;') Registrarme
                            hr
                            a.btn.btn-primary.btn-block.text-white.btn-google.btn-user(role='button')
                                i.fab.fa-google
                                | &nbsp; Registrarme con Google
                            a.btn.btn-primary.btn-block.text-white.btn-facebook.btn-user(role='button')
                                i.fab.fa-facebook-f
                                | &nbsp; Registrarme con Facebook
                            hr
                        .text-center
                            a.small(href='forgot-password.html') &iquest;Olvidaste tu contrase&ntilde;a?
                        .text-center
                            a.small(href='/login.html') &iquest;Ya tienes cuenta? Ingresa aqu&iacute;
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
