doctype html
html(style='background: #0861ff;')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title Contraseña Olvidada - Alia
        link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
        link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
.bg-gradient-primary(style='background: #0861ff;')
    .container
        .row.justify-content-center
            .col-md-9.col-lg-12.col-xl-10
                .card.shadow-lg.o-hidden.border-0.my-5
                    .card-body.p-0
                        .p-5
                            .text-center(style='padding: 10px;')
                                img(src='https://nvio.s3.amazonaws.com/assets/img/logo_alia_color.png' style='width: 85%;')
                                h1.d-flex.justify-content-xl-center ¿Olvidaste tu contraseña?
                            p.text-center
                                | ¡No te preocupes! Ingresa tu dirección de correo y te llegará un enlace para recuperarla
                            form.user(action='/forgot' method='POST' enctype='multipart/form-data')
                                .form-group
                                    input#email.form-control.form-control-user(type='email' aria-describedby='email' placeholder='Dirección de correo' name='email' required)
                                hr
                                button.btn.btn-primary.btn-block.text-white.btn-user(type='submit' style='background: #12c4f2; border: #12c4f2') Recuperar contraseña
                                hr
                            .text-center
                                a.small(href='/login')
                                    | ¿Recordaste tu contraseña? Inicia sesión aquí
                                    br
                            .text-center
                                a.small(href='/register') ¿No posees una cuenta? Regístrate aquí
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(src='/assets/js/script.min.js')
