doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='apple-mobile-web-app-title' content='alia')
    meta(name='apple-touch-fullscreen' content='yes')
    title Crear Producto - Alia
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-SJETCMY2EN')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SJETCMY2EN', {
            'user_id': '#{userID}'
        });
    link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='manifest' href='/manifest.json')
.d-lg-flex.d-sm-block
    if (planID == 0)
      include ../includes/navbar-0.pug
    if (planID == 1)
      include ../includes/navbar-1.pug
    if (planID == 2)
      include ../includes/navbar-2.pug
    if (planID == 3)
      include ../includes/navbar-3.pug
    #content-wrapper.d-flex.flex-column.flex-fill
        #content
          form#createProduct(action="/inventory/create" method="POST")
            .container-fluid#prodContainer(style='margin-top: 32px;')
                h3.text-dark.mb-4 Crear Nuevo Producto
                .col-lg-12(style="padding-left: 0px; padding-right: 0px;")
                    .row
                        .col
                            .card.shadow.mb-3
                                .card-header.py-3
                                    p.text-primary.m-0.font-weight-bold Ingresar nuevo producto
                                .card-body
                                        .form-row
                                            .col-xs-2.col-md-4
                                                .form-group
                                                    label(for='productName')
                                                        strong Nombre del Producto
                                                        br
                                                    input.form-control#productName(type='text' placeholder='Ej: Polera' name='productName')
                                                    .invalid-feedback El nombre del producto no puede estar vacío
                                            .col-xs-2.col-md-4
                                                .form-group
                                                    label#priceLabel(for='productPrice')
                                                        strong Precio
                                                    input.form-control#productPrice(type='number' placeholder='Ej: 8000' name='productPrice' min=1 required='')
                                                    .invalid-feedback El precio no puede estar vacío y debe ser mayor a cero
                                            .col-xs-2.col-md-4.d-none(id='stock')
                                                .form-group
                                                    label#stockLabel(for='productStock')
                                                        strong Stock
                                                        br
                                                    input.form-control#productStock(type='number' placeholder='Ej: 25' name='productStock' min=1 required='')
                                                    .invalid-feedback El stock no puede estar vacío y debe ser mayor a cero
                                        .form-row
                                            .col-xs-2.col-md-4(style='height: 25px')
                                                .form-group
                                                    label.form-check-label(for='checkStock') ¿Posee Stock?
                                                    input.form-check-input(type='checkbox' name='checkStock' id='checkStock' style='left: auto; margin-left: 10px;')
                                        .form-row
                                            .col-xs-2.col-md-4(style='height: 25px')
                                                .form-group
                                                    label.form-check-label(for='checkAttributes') ¿Posee atributos?
                                                    input.form-check-input(type='checkbox' name='checkAttributes' id='checkAttributes' style='left: auto; margin-left: 10px;')

                                        #attributes.d-none
                                            hr
                                            .form-row(id='attributes[0]')
                                                .col-xs-2.col-md-4.col-lg-4
                                                    .form-group
                                                        label(for='productName')
                                                            strong Atributo
                                                            br
                                                        input.form-control(type='text' placeholder='Ej: Talla' name='attributes[0][name]' id='attributes[0][name]')
                                                        .invalid-feedback El nombre del atributo no puede estar vacío

                                                .col-xs-2.col-md-4
                                                    .form-group
                                                        label(for='productName')
                                                            strong Valores
                                                            br
                                                        input.form-control(type='text' placeholder='Ej: S, M, L, XL' name='attributes[0][values]' id='attributes[0][values]')
                                                        .invalid-feedback El atributo debe tener al menos un valor

                                                .col-xs-2.col-sm-12.text-center.text-md-left.p-2.col-md-4.col-lg-4.mt-md-4.mt-lg-4
                                                    .form-group
                                                        a.btn.btn-primary(type='button' id= 'delete[0]' style='background: #0861ff; border: #0d87f0;')
                                                            i.fa.fa-trash
                                                            | &nbsp;Borrar

                                            .form-group
                                                button.btn.btn-primary.btn-sm#createAttribute(style='background: #12c4f2; border: #12c4f2; margin-top: 10px;') Agregar Atributo

                                        .form-group(style='text-align: center;')
                                            button.btn.btn-primary.btn-sm#createProductButton(type='submit' style='background: #12c4f2; border: #12c4f2; margin-top: 5px;') Guardar Producto

            .container-fluid
                .col-lg-12(style="padding-left: 0px; padding-right: 0px;")
                    .row#subproductForms

        footer.bg-white.sticky-footer
            .container.my-auto
                .text-center.my-auto.copyright
                    span Copyright &copy; Alia 2021
        //a.border.rounded.d-inline.scroll-to-top(href='#page-top')
        //    i.fas.fa-angle-up
    .modal.fade#modal-logout(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Estás a punto de cerrar sesión
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p ¿Deseas cerrar tu sesión?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    a.btn.btn-danger(href='/logout') Cerrar Sesión
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' integrity='sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
script(src='/javascripts/theme.js')
script(src='/javascripts/new-product.js')
script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
script(src='/javascripts/navbars.js')
script.
  nav('inventoryCreate');
