.container
    .row.justify-content-center
        .col-md-9.col-lg-12.col-xl-10
            .card.shadow-lg.o-hidden.border-0.my-5
                .card-body(style='width: 40%;')
                    h4.card-title(style='font-size: 40px;width: 200%;') Orden Confirmada!
                    h6.text-muted.card-subtitle.mb-2
                    hr
                    p.card-text(style='font-size: 20px;') Te redireccionaremos en breve...
