doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='apple-mobile-web-app-title' content='alia')
    meta(name='apple-touch-fullscreen' content='yes')
    title Detalle - Alia
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-SJETCMY2EN')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SJETCMY2EN', {
            'user_id': '#{userID}'
        });
    link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/fonts/fontawesome5-overrides.min.css')
.d-lg-flex.d-sm-block
    if (planID == 0)
      include ../includes/navbar-0.pug
    if (planID == 1)
      include ../includes/navbar-1.pug
    if (planID == 2)
      include ../includes/navbar-2.pug
    if (planID == 3)
      include ../includes/navbar-3.pug  
    #content-wrapper.d-flex.flex-column.flex-fill
      .container-fluid(style='margin-top: 32px;')
        a.btn.btn-primary(type='button' style='margin-bottom: 10px; background: #12c4f2; border: #12c4f2;' href='/billing/plans')
            i.fa.fa-arrow-left
            | &nbsp;Regresar
        .row
          .col-md-12.col-sm-12
            .card-deck
              .card.shadow
                h4.card-header Selecciona tu plan
                .card-body
                  .row
                    .col-md-12
                      h5.text-dark.mt-2
                        | Ciclo de pago:
                      .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(type="radio" id="mensual" name="billingPeriod")
                        label.custom-control-label(for="mensual") Mensual
                      .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(type="radio" id="anual" name="billingPeriod" checked="checked")
                        label.custom-control-label(for="anual") 
                          | Anual 
                          b.text-primary (ahorras 20%)
                    .col-md-12
                      h5.text-dark.mt-2
                        | Plan:
                      .card.mb-2
                        .card-body.p-2
                          .custom-control.custom-radio
                            if(selectedPlanId == 1)
                              input.custom-control-input(type="radio" id="corre" name="plan" checked="checked")
                            else
                              input.custom-control-input(type="radio" id="corre" name="plan")
                            label.custom-control-label.d-flex(for="corre")
                              .mr-auto Corre
                              #corre-price $4.000 / mes
                      .card.mb-2
                        .card-body.p-2
                          .custom-control.custom-radio
                            if(selectedPlanId == 2)
                              input.custom-control-input(type="radio" id="despega" name="plan" checked="checked")
                            else
                              input.custom-control-input(type="radio" id="despega" name="plan")
                            label.custom-control-label.d-flex(for="despega") 
                              .mr-auto Despega
                              #despega-price $12.000 / mes
                      .card.mb-2
                        .card-body.bg-light.p-2
                          .custom-control.custom-radio
                            if(selectedPlanId == 3)
                              input.custom-control-input(type="radio" id="vuela" name="plan" checked="checked" disabled)
                            else
                              input.custom-control-input(type="radio" id="vuela" name="plan" disabled)
                            label.custom-control-label.d-flex(for="vuela")
                              .mr-auto Vuela
                              #vuela-price ¡Próximamente!
                    .col-md-12
                      h5.text-dark.mt-2
                        | Método de pago: 
                        .text-primary.mb-2.mt-2.font-weight-bold Transferencia
              .card.shadow
                h4.card-header Resumen de tu compra
                .card-body.d-flex.justify-content-center.flex-column.mx-4
                  .row.d-flex#planRow
                    .mr-auto#planName 
                    #planPrice $24.000
                  .row.d-flex#discountRow
                    .mr-auto#discountName
                    #discountPrice
                  .dropdown-divider
                  .row.d-flex#totalRow
                    .mr-auto Total
                    b.text-primary.h5#totalPrice $24.000
                  .row.d-flex.justify-content-center
                    h6 Aplicar Cupón de Descuento
                  form#couponForm.form-inline.justify-content-center.d-flex.flex-wrap
                    .form-group
                      input.form-control#couponCheck(type='text' name='couponCheck' autocomplete='off')
                      //-.invalid-feedback El cupón ingresado no es válido <-- BROKEN AF IN INLINE FORMS.
                    .form-group
                      button.btn.btn-primary.ml-2#couponCheckButton(type='submit' style='background: #12c4f2; border: #12c4f2;') Aplicar
                      button.btn.btn-primary.ml-2.d-none#couponClearButton(type='button' style='background: #12c4f2; border: #12c4f2;') Limpiar
                  .d-flex.flex-column.mb-3.mx-auto.mt-auto
                    button.btn.btn-primary(data-toggle='modal' data-target='#modal-pay') Pagar




      footer.bg-white.sticky-footer
        .container.my-auto
            .text-center.my-auto.copyright
                span Copyright &copy; Alia 2021
    .modal.fade#modal-logout(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Estás a punto de cerrar sesión
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p ¿Deseas cerrar tu sesión?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    a.btn.btn-danger(href='/logout') Cerrar Sesión
                    
    .modal.fade#modal-pay(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Datos de Transferencia Alia
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Nombre: Bla Bla
                    p Rut: 12345678-9
                    p Banco: Banco de Chile
                    p Tipo de Cuenta: Cuenta Corriente
                    p Número de Cuenta: 1234 5678 91011
                    P Correo electrónico: contacto@aliachile.com
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-success(type='button', data-dismiss='modal') Ya Pagué
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src='/javascripts/theme.js')
script(src='/javascripts/payment.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
script(src='https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js')
script(src='/javascripts/navbars.js')
script.
  nav('billing');
