doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='apple-mobile-web-app-title' content='alia')
    meta(name='apple-touch-fullscreen' content='yes')
    title Detalle - Alia
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-SJETCMY2EN')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SJETCMY2EN', {
            'user_id': '#{userID}'
        });
    link(rel='icon' type='image/png' href='https://alia.s3.amazonaws.com/assets/img/favicon.png')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://nvio.s3.amazonaws.com/assets/fonts/fontawesome5-overrides.min.css')
.d-lg-flex.d-sm-block
  if (planID == 0)
    include ../includes/navbar-0.pug
  if (planID == 1)
    include ../includes/navbar-1.pug
  if (planID == 2)
    include ../includes/navbar-2.pug
  if (planID == 3)
    include ../includes/navbar-3.pug 
  #content-wrapper.d-flex.flex-column.flex-fill
    .container-fluid(style='margin-top: 32px;')
      a.btn.btn-primary(type='button' style='margin-bottom: 10px; background: #12c4f2; border: #12c4f2;' href='../billing')
          i.fa.fa-arrow-left
          | &nbsp;Regresar

      .text-center.mb-5
        h3.text-dark.mt-4.text-center Elige tu Plan
      .row
        .card-deck
          .col-sm-12.col-md-6.col-lg-6.col-xl-3.d-flex.flex-column.text-center.mb-5
            .card.shadow.d-flex.flex-column.justify-content-between
              .card-header.py-3
                  h3.text-primary.m-0.font-weight-bold.text-center Camina
              .card-body.d-flex.flex-column.justify-content-between
                  | El plan Camina es la opción ideal para empezar a organizar tu negocio por redes sociales y ahorrar tiempo
                  ul.list-group.list-group-flush.mt-3.mb-4.text-left
                    li.list-group-item Ventas ilimitadas
                    li.list-group-item Formulario de venta
                    li.list-group-item Organización automática
                    li.list-group-item Exportar datos a Excel
                  .d-flex.flex-column.justify-content-between.mb-3.mx-auto
                    h2.font-weight-bold.pt-1.mb-2 $0
                    small(style='visibility:hidden') Este plan es gratis
                    small.mb-2(style='visibility:hidden') No se te cobrará por usarlo
                    if (planID == 0)
                      button(disabled).btn.btn-lg.btn-primary Plan Actual
                    else
                      button.btn.btn-lg.btn-primary(data-toggle='modal' data-target='#modal-free') Volver al plan básico    

          .col-sm-12.col-md-6.col-lg-6.col-xl-3.d-flex.flex-column.text-center.mb-5
           .card.shadow.d-flex.flex-column.justify-content-between
             .card-header.py-3
                 h3.text-primary.m-0.font-weight-bold.text-center Corre
             .card-body.d-flex.flex-column.justify-content-between
                 | El plan Corre te ayudará a dar el siguiente paso para crecer y organizar un volumen de pedidos creciente
                 ul.list-group.list-group-flush.mt-3.mb-4.text-left
                   li.list-group-item Todo lo del Plan Camina
                   li.list-group-item Productos auto completables
                   li.list-group-item Sistema de Inventario
                   li.list-group-item Sistema de Stock
                 .d-flex.flex-column.justify-content-between.mb-3.mx-auto
                    h2.font-weight-bold.pt-1.mb-2 $4.000
                    small Por mes, pagando anualmente
                    small.mb-2 $5.000 al mes, pagando mensualmente
                    if (planID == 1)
                      button(disabled).btn.btn-lg.btn-primary Plan Actual
                    else if (planID == 0)
                      a.btn.btn-lg.btn-primary(href="/billing/plans/1") Comenzar 
                    else
                      button.btn.btn-lg.btn-primary(data-toggle='modal' data-target='#modal-change' data-id="1" data-currentPlan=planID) Cambiar
          .col-sm-12.col-md-6.col-lg-6.col-xl-3.d-flex.flex-column.text-center.mb-5
           .card.shadow.d-flex.flex-column.justify-content-between
             .card-header.py-3
                 h3.text-primary.m-0.font-weight-bold.text-center Despega
             .card-body.d-flex.flex-column.justify-content-between
                 | El plan Despega te entrega estadísticas de los pedidos realizados en Alia para que orientes tu negocio con mejor información
                 ul.list-group.list-group-flush.mt-3.mb-4.text-left
                   li.list-group-item Todo lo del Plan Corre
                   li.list-group-item Dashboard con Estadísticas
                   li.list-group-item Analítica de tu negocio
                   li.list-group-item Analítica de productos
                 .d-flex.flex-column.justify-content-between.mb-3.mx-auto
                    h2.font-weight-bold.pt-1.mb-2 $12.000   
                    small Por mes, pagando anualmente
                    small.mb-2 $15.000 al mes, pagando mensualmente
                    if (planID == 2)
                      button(disabled).btn.btn-lg.btn-primary Plan Actual
                    else if (planID == 0)
                      a.btn.btn-lg.btn-primary(href="/billing/plans/2") Comenzar 
                    else
                      button.btn.btn-lg.btn-primary(data-toggle='modal' data-target='#modal-change' data-id="2"  data-currentPlan=planID) Cambiar

          .col-sm-12.col-md-6.col-lg-6.col-xl-3.d-flex.flex-column.text-center.mb-5
           .card.shadow.d-flex.flex-column.justify-content-between
             .card-header.py-3
                 h3.text-primary.m-0.font-weight-bold.text-center Vuela
             .card-body.d-flex.flex-column.justify-content-between
                | El plan Vuela te dará la mayor cantidad de libertad para manejar tu negocio y la experiencia de tu usuario
                ul.list-group.list-group-flush.mt-3.mb-4.text-left
                  li.list-group-item Todo lo del Plan Despega 
                  li.list-group-item Pasarela de Pago
                  li.list-group-item Personaliza formulario de venta
                  li.list-group-item Elimina branding de Alia
                .d-flex.flex-column.justify-content-between.mb-3.mx-auto
                  h2.font-weight-bold.pt-1.mb-2 $20.000       
                  small Por mes, pagando anualmente
                  small.mb-2 $25.000 al mes, pagando mensualmente
                  if (planID == 3)
                    button(disabled).btn.btn-lg.btn-primary Plan Actual
                  else if (planID == 0)
                    button.btn.btn-lg.btn-primary(disabled) ¡Próximamente! 
                  else
                    button.btn.btn-lg.btn-primary(disabled) ¡Próximamente!
    include ../includes/tooltip
    footer.bg-white.sticky-footer
      .container.my-auto
          .text-center.my-auto.copyright
              span Copyright &copy; Alia 2021
    .modal.fade#modal-free(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Cambiar a Plan Camina
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p ¿Deseas cambiarte al plan Camina?
                    ul
                      li El cambio se hará efectivo una vez finalizado el periodo del plan actual. 
                      li Podrás seguir usando tu plan actual hasta ese día.
                      li Luego de eso volverás al plan gratuito.
                    p ¿Aún deseas cambiar de plan?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') No, Cancelar
                    button#freePlan.btn.btn-success(type='button') Sí, Cambiar de Plan
    .modal.fade#modal-change(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title#changePlanModalTitle Cambiar a Plan Camina
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p#changePlanTitle ¿Deseas cambiarte al plan Camina?
                    ul
                      li#changePlanPeriod El cambio se hará efectivo una vez finalizado el periodo del plan actual. 
                      li#changePlanUsage Podrás seguir usando tu plan actual hasta ese día.
                      li#changePlanReturn Luego de eso volverás al plan gratuito.
                    p ¿Aún deseas cambiar de plan?
                    form#changePlanForm
                      h5.text-dark.mt-2
                        | Ciclo de pago:
                      .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(type="radio" id="mensual" name="billingPeriod" value="M")
                        label.custom-control-label(for="mensual") Mensual
                      .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(type="radio" id="anual" name="billingPeriod" checked="checked" value="Y")
                        label.custom-control-label(for="anual") 
                          | Anual 
                          b.text-primary (ahorras 20%)
                      h5.text-primary.mt-2#pricingTotal Total: $00.000
                      input(type="hidden" id="planId" name="planId" value=0)
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') No, Cancelar
                    button#changePlan.btn.btn-success(type='button') Sí, Cambiar de Plan         
  .modal.fade#modal-logout(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5.modal-title Estás a punto de cerrar sesión
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') &times;
              .modal-body
                  p ¿Deseas cerrar tu sesión?
              .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                  a.btn.btn-danger(href='/logout') Cerrar Sesión
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src='/javascripts/theme.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
script(src='https://nvio.s3.amazonaws.com/assets/js/script.min.js')
script(src='https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js')
script(src='/javascripts/free-tier.js')
script(src='/javascripts/navbars.js')
script.
  nav('billing');
